* {
    background: linear-gradient(70deg, rgba(37, 138, 252, 0.100) 27.64%, rgba(136, 91, 255, 0.100) 43.42%, rgba(213, 23, 247, 0.100) 58.83%, rgba(246, 173, 109, 0.100) 81.81%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:0;
}

p, select, option {
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-bottom: 0.8rem;
}

.main-scope{
    min-height:100vh;
    padding: 0.5rem 1rem;
}

.root-head {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 51, 255);
    margin-bottom: 0.5rem;
}

.chapter-selector {
    padding: 0.6rem 1.5rem;
    background: rgb(239, 78, 4);
    color: white;
    border: none;
    border-radius: 4px;
    transition: 0.3s
}

.go-btn {
   margin-left: 0.5rem;
   padding: 0.4rem 1.5rem;
   border: none;
   border-radius: 5px;
   background: rgb(1, 208, 1);
   color: white;
   font-size: 18px;
   letter-spacing: 0.5px;
}
