/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* background: rgba(241, 241, 241, 0.485); */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(120deg,
            rgba(37, 138, 252, 0.1) 27.64%,
            rgba(136, 91, 255, 0.1) 43.42%,
            rgba(213, 23, 247, 0.1) 58.83%,
            rgba(246, 173, 109, 0.1) 81.81%);
    padding: 0.5rem;
    letter-spacing: 0.2px;
}

p {
    font-size: 18px;
}

select,
option {
    margin-top: 0.5rem;
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 0.5rem;
    background-clip: content-box;
}

a {
    text-decoration: none;
}

.main-scope {
    min-height: 98vh;
    padding: 1rem 3rem 1rem 1rem;
    /* display: flex;
    flex-wrap: wrap; */
    /* Allows items to wrap instead of overflowing */
}

.main-Heading {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(43, 16, 165);
    margin-bottom: 0.5rem;
    background-color: none !important;
}

.chapter-selector {
    padding: 0.6rem;
    background: rgb(16, 66, 231);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 7px;
    transition: 0.3s;
}

.go-btn {
    margin-left: 0.5rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 7px;
    background: rgb(1, 208, 1);
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.prev-ch {
    margin-left: 0.5rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 7px;
    background: rgb(230, 201, 9);
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.next-ch {
    margin-left: 0.5rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 7px;
    background: rgb(1, 108, 208);
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.code {
    border: 2px solid rgb(196, 193, 193);
    border-radius: 0.4rem;
    padding: 1.5rem;
    background: #f2f2f2;
}

.max-w40 {
    max-width: 40%;
}

.max-w60 {
    max-width: 60%;
}